{% extends 'base.html' %}


{% block content %}
  <h1>All Members</h1>
  {% if user.position.name == "Project Manager" or user.position.name == "CTO" or user.position.name == "HR Manager" %}
    <a class="btn btn-secondary" href="{% url 'teamspace:create_team' %}">Create Team</a>
    <a class="btn btn-secondary" href="{% url 'home:invite' %}">Invite</a>
  {% endif %}
  
  <br><br>
  
  {% include 'includes/search.html' %}
  <br>
  
<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped table-sm">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Role</th>
                <th scope="col">Joined</th>
                <th scope="col">Last Login</th>
            </tr>
        </thead>
        <tbody>
          {% for member in all_members %}
            <tr>
              <th scope="row">{{ member.id }}</th>
            <td>
              <div class="d-flex align-items-center">
                {% if member.avatar %}
                  <img src="{{ member.avatar.url }}" alt="Avatar"
                       class="rounded-circle me-2" style="width: 40px; height: 40px; object-fit: cover;">
                {% else %}
                  <span class="me-2" style="width: 40px; height: 40px; font-size: 28px;">👤</span>
                {% endif %}
                <span>&nbsp&nbsp{{ member.first_name }} {{ member.last_name }}</span>
              </div>
            </td>
              {% if member.position.rank != "Employee" %}
                <td>{{ member.position.rank }} {{ member.position.name }}</td>
              {% else %}
                <td>{{ member.position.name }}</td>
              {% endif %}
              <td>{{ member.date_joined }}</td>
              <td>{{ member.last_login }}</td>
            
            </tr>
          {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}