<ul>
<br>
  <li class="list-group-item">
    {% if user.avatar %}
      <img src="{{ user.avatar.url }}" alt="Avatar" style="max-width: 30px;">
    {% endif %}
  <a href="{% url 'home:profile' %}">Profile</a>
  </li>
  <br><br>
  Home
  <li class="list-group-item"><a href="{% url 'home:index' %}">Home</a></li>
  {% if user.is_authenticated %}
    <li class="list-group-item"><a href="{% url 'home:settings' user.id %}">Settings</a></li>
    {% if user.position.name == "Project Manager" or user.position.name == "CTO" or user.position.name == "HR Manager" %}
      <li class="list-group-item"><a href="{% url 'home:invite' %}">Invite</a></li>
    {% endif %}
    <br><br>
    Teamspace
    {% if user.position.name == "Project Manager" or user.position.name == "CTO" or user.position.name == "HR Manager" %}
      <a style="float: right" href="{% url 'teamspace:create_project' %}">+</a>
    {% endif %}

    <li class="list-group-item">Projects:</li>

    {% for team in user.team_set.all %}
      {% for project in team.project_set.all %}
      <li class="list-group-item">
        <div onclick="toggleSublist(this)">
          ▼ {{ project.name }}
        </div>
        <ul class="sublist hidden">
          <li class="list-group-item">
            <a href="#">DocHub</a>
          </li>
          <li class="list-group-item">
            <a href="#">Tasks</a>
          </li>
          <li class="list-group-item">
            <a href="#">Members</a>
          </li>
        </ul>
      </li>
      {% endfor %}
    {% endfor %}

    <li class="list-group-item" onclick="toggleSublist(this)">▼ Members:</li>

      <ul class="sublist hidden">
        <li class="list-group-item">
          <a href="{% url 'teamspace:all_members' %}">All</a>
        </li>
        <li class="list-group-item">
          <a href="{% url 'teamspace:teams_list' %}">Teams</a>
        </li>
      </ul>

  {% endif %}

  <br><br>

  {% if user.is_authenticated %}

    <form action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <input class="btn btn-primary" type="submit" value="Logout" />
    </form>
  {% else %}
    <form action="{% url 'login' %}" method="get">
      <input class="btn btn-primary" type="submit" value="Login" />
    </form>
  {% endif %}
</ul>

<style>
  .sublist {
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: 2px dashed #ccc;
  }

  .hidden {
    display: none;
  }
</style>

<script>
  function toggleSublist(toggleElement) {
    const sublist = toggleElement.nextElementSibling;

    sublist.classList.toggle("hidden");
    toggleElement.classList.toggle("open");
  }
</script>