<ul>
  Home
  <li class="list-group-item"><a href="{% url 'home:index' %}">Home</a></li>
  {% if user.is_authenticated %}
    <li class="list-group-item"><a href="{% url 'home:settings' user.id %}">Settings</a></li>
    {% if user.position.name == "Project Manager" or user.position.name == "CTO" %}
      <li class="list-group-item"><a href="{% url 'home:invite' %}">Invite</a></li>
    {% endif %}
    <br><br>
    Teamspace
    {% if user.position.name == "Project Manager" or user.position.name == "CTO" %}
      <a style="float: right" href="#">+</a>
    {% endif %}
    <li class="list-group-item"><a href="#">Project</a></li>
    <li class="list-group-item"><a href="#">Members</a></li>

  {% endif %}

  <br><br>

  {% if user.is_authenticated %}

    <form action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <input class="btn btn-primary" type="submit" value="Logout" />
    </form>
  {% else %}
    <form action="{% url 'login' %}" method="get">
      <input class="btn btn-primary" type="submit" value="Login" />
    </form>
  {% endif %}
</ul>