{% extends "base.html" %}

{% block content %}
  <br>
  <h2>{{ project.name }} Tasks</h2>
  <p>{{ project.description }}</p>

  {% if user.position.name == "Project Manager" or user.position.name == "CTO" %}
    <a href="{% url 'teamspace:update_project' pk=project.id %}" class="btn btn-sm btn-primary">Edit</a>
    <a href="{% url 'teamspace:delete_project' pk=project.id %}" class="btn btn-sm btn-danger">Delete</a>
  {% endif %}

  <br><br>

  {% if project.task_set.all %}
    <table class="table table-sm table-bordered table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Task</th>
          <th>Owner</th>
          <th>Assignees</th>
          <th>Description</th>
          <th>Deadline</th>
          <th>Completed</th>
          <th>Priority</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        {% for task in project.task_set.all %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ task.name }}</td>
            <td>{{ task.created_by }}</td>
            <td>
              {% for assignee in task.assignees.all %}
                {{ assignee.first_name }} {{ assignee.last_name }}{% if not forloop.last %}, {% endif %}
              {% empty %}
                <i>No assignees</i>
              {% endfor %}
            </td>
            <td>{{ task.description }}</td>
            <td>{{ task.deadline|date:"Y-m-d H:i" }}</td>
            <td>{{ task.is_completed|yesno:"✅,❌" }}</td>
            <td>{{ task.get_priority_display }}</td>
            <td>{{ task.task_type.name }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No tasks assigned to this project.</p>
  {% endif %}
{% endblock %}
